* {
    box-sizing: border-box;
    overflow-y: auto;
  }
  
  body {
    margin: 0;
    padding: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  /* Card */
  .card {
    background: #fff;
    width: 100%;
    max-width: 360px;
    min-height: 300px;
    padding: 5vw;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    animation: scaleIn 3s ease;
    z-index: 2;
  }
  
  @keyframes bounce{
    0%,100%{transform:translate(-50%,0);}
    50%{transform:translate(-50%,8px);}
  }
  
  .photo {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ff4081;
    margin-bottom: 15px;
  }
  
  h1 {
    color: #ff4081;
    font-size: 24px;
  }
  
  p {
    color: #444;
    font-size: 15px;
  }
  
  button {
    margin-top: 18px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    background: #ff4081;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    color: black;
    background: lightblue;
    height: 50px;
    width: 150px;
  }
  
  .message {
    display: none;
    margin-top: 18px;
    font-size: 17px;
    animation: fadeout 0s ease forwards;
  }
  
  /* Confetti */
  #confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
  }
  
  .confetti {
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0.9;
    animation: fall linear infinite;
  }
  
  /* Animations */
  @keyframes fall {
    0% {
      transform: translateY(-10pvh) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(110vh) rotate(360deg);
      opacity:10;
    }
  }
  
  @keyframes scaleIn {
    from { transform: scale(0); }
    to { transform: scale(1); }
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Mobile optimization */
  @media (max-width: 480px) {
    h1 {
      font-size: 22px;
    }
  
    .photo {
      width: 95px;
      height: 95px;
    }
  }

@media (max-width: 360px) {
    .card {
        width: 90%;
        height: auto;
    }
}